* {
  margin: 0vh;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(151, 255, 16);
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: white;
}

.mod {
  text-align: center;
  background-color: rgb(28, 224, 10);
  padding: 10vh;
  border-radius: 12vh;
}

.add {
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(19, 126, 120);
  border-radius: 1vh;
  padding: 3vh 3vh;
}
.add:hover {
  cursor: pointer;
  background-color: rgb(25, 175, 20);
  transition-duration: 0.3s;
  border-radius: 2.5vh;
}

#delet {
  font-size: 4vh;
  border: 0;
  color: rgb(255, 255, 255);
  margin: 1vh;
  background-color: rgb(1, 163, 155);
  border-radius: 1vh;
  padding: 1vh 1.2vh;
}
#delet:hover {
  background-color: rgb(221, 29, 22);
  transition-duration: 0.5s;
  border-radius: 1.5vh;
  cursor: pointer;
}
input {
  border: 0.5vh solid black;
  padding: 2vh 3vh;
}
input:hover {
  border-radius: 1.5vh;
  transition-duration: 1s;
}
ul {
  list-style-type: symbols();
  padding: 4vh;
  height: 50vh;
  background-color: rgba(13, 16, 216, 0.555);
  overflow-y: auto;
  text-align: left;
  font-size: 4vh;
}
li {
  background-color: rgb(19, 126, 120);
  margin: 1vh;
  padding: 1vh 2vh;
  border-radius: 1vh;
}
li:hover {
  transition-duration: 0.18s;
  background-color: rgb(25, 175, 20);
}
#Info {
  border-radius: 2vh;
  background-color: rgba(255, 255, 255, 0.568);
  height: 5vw;
  width: 16vw;
  color: rgb(3, 10, 3);
}
#make {
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 8, 8);
  border-radius: 1vh;
  padding: 1.2vh 2.5vh;
}
#make:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgb(0, 255, 255);
  transition-duration: 0.3s;
  border-radius: 2vh;
}
