* {
  margin: 0%;
}
body {
  background-color: yellowgreen;
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: white;
}

.mod {
  text-align: center;
}

#add {
  border: 0ch;
  color: white;
  padding: 2vh;
  background-color: rgba(0, 90, 0, 0.548);
  padding: 3vh 3vh;
}
#add:hover {
  background-color: darkgreen;
  transition-duration: 0.3s;
}
h1 {
  text-shadow: 10px 10px 10px black;
}
input {
  border: 3px solid black;
  padding: 2vh 3vh;
  position: relative;
}
ul {
  list-style-type: symbols();
  padding: 4vh;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.548);
  overflow-y: auto;
  text-align: left;
  font-size: 4vh;
}
li {
  background-color: rgba(175, 121, 20, 0.418);
  margin: 1vh;
  padding: 1vh 2vh;
  border-radius: 1vh;
}
li:hover {
  transition-duration: 0.18s;
  background-color: rgb(175, 121, 20);
}
